<tr>
	<td><%= show_fullname(actor) %></td>
	<td><%= actor.gender %></td>
  <td>
  	<%= link_to 'edit', edit_actor_path(actor), class:'btn btn-xs btn-default' %>
  	<%= link_to 'delete', actor, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-xs btn-danger" %>
	</td>
</tr>
