<div class="row col-md-10 col-md-offset-1">
<h1><%= controller.action_name %> actor</h1>
<%= simple_form_for(@actor, html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f| %>
	<%= f.error_notification %>
	<%= f.input :first, hint:'required' %>
	<%= f.input :last, hint:'required' %>
	<%= f.input :gender, collection:%w(M F) %>
	<div class="row">
		<%= f.association :movies, as: :check_boxes, label_method: :title %>
	</div>
	<div class="row text-center">
		<%= f.submit nil, class:'btn btn-primary' %>
		<%= link_to 'back', :back, class:'btn btn-default' %>
	</div>
<% end %>
</div>