<div class="row">
	
	<h1 class="text-center">all actors</h1>

	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>name</th>
				<th>gender</th>
				<th>actions</th>
	    </tr>
	  </thead>

	  <tbody>
	    <%= render @actors %>
	  </tbody>
	</table>

</div>

<div class="row text-center">
	<%= link_to 'new actor', new_actor_path, class:"btn btn-primary" %>
</div>
