<div class="row">
	
	<div class="col-md-10 col-md-offset-1 text-center">
		<h3><%= @actor.fullname %> (<%= @actor.gender %>)</h3>
	</div>
	
</div>

<div class="row">
	
	<div class="col-md-10 col-md-offset-1">
		<legend>movies (<%= @actor.movies.count %>)</legend>
		<% unless @actor.movies.blank? %>
		<table class="table table-striped">
			<thead>
				<th>title</th>
				<th>year</th>
				<th>rating</th>
				<th>role</th>
			</thead>
			<tbody>
				<% @actor.roles.each do |role| %>
				<tr>
					<td><%= role.movie.title %></td>
					<td><%= role.movie.year %></td>
					<td><%= show_mpaa(role.movie) %></td>
					<td><%= role.part %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<% end %>
	</div>

</div>

<div class="row col-md-12 text-center">
	
	<hr>
	
	<%= link_to 'edit', edit_actor_path(@actor), class:'btn btn-default' %>
	<%= link_to 'back', :back, class:'btn btn-default' %>

</div>