<div class="row col-md-10 col-md-offset-1">
	
	<h1><%= controller.action_name %> movie</h1>

	<%= simple_form_for(@movie, html:{ multipart:true, class:'form-horizontal'}, wrapper: :horizontal_form) do |f| %>
	
		<%= f.error_notification %>
		<%= f.input :title, hint:'required' %>
		<%= f.input :year, hint:'required' %>
		<%= f.input :mpaa, collection:MPAA_RATINGS, label:'MPAA rating' %>
		<%= f.input :poster, as: :file, wrapper: :horizontal_file_input %>
		
		<div class="row" id="trailers">
			<%= f.simple_fields_for :trailers do |trailer| %>
				<%= render 'trailer_fields', :f=>trailer %>
			<% end %>
			<%= link_to_add_association 'add trailer', f, :trailers, class:'btn btn-sm btn-default' %>
		</div>
		
		<div class="row" id="roles">
			<%= f.simple_fields_for :roles do |role| %>
				<%= render 'role_fields', :f=>role %>
			<% end %>
			<%= link_to_add_association 'add role', f, :roles, class:'btn btn-sm btn-default' %>
		</div>
		
		<div class="row text-center">
			<%= f.submit nil, class:'btn btn-primary'%>
			<%= link_to 'cancel', :back, class:'btn btn-default' %>
		</div>

	<% end %>

</div>