<tr>
	<td><%= image_tag movie.poster.url(:thumb) %></td>
	<td><%= movie.title %></td>
	<td><%= movie.year %></td>
	<td><%= show_mpaa(movie) %></td>
  <td>
		<%= link_to fa_icon('eye'), movie %>
  	<%= link_to fa_icon('pencil'), edit_movie_path(movie) if can? :update, movie %>
  	<%= link_to fa_icon('trash-o', text:'destroy'), movie, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-danger' if can? :destroy, movie %>
	</td>
</tr>
