<div class="row">
	
	<div class="nested-fields">
		
		<div class="col-xs-11">
			<%= f.input :part %>
			<%= f.association :actor, collection:Actor.all, label_method: :fullname %>
		</div>
		<div class="col-xs-1">
			<%= link_to_remove_association 'remove role', f, class:'btn btn-sm btn-danger' %>
		</div>
		
	</div>
	
</div>