<div class="row">
	
	<div class="nested-fields">
		
		<div class="col-xs-11">
			<%= f.input :address %>
		</div>
		<div class="col-xs-1">
			<%= link_to_remove_association 'remove trailer', f, class:'btn btn-sm btn-danger' %>
		</div>
		
	</div>
	
</div>