<h1>Listing movies</h1>

<table class="table table-striped">
  <thead>
    <tr>
			<th>poster</th>
      <th>title</th>
			<th>year</th>
			<th>rating</th>
			<th>actions</th>
    </tr>
  </thead>

  <tbody>
		<%= render @movies %>
  </tbody>
</table>

<br>

<%= link_to 'new movie', new_movie_path, class:'btn btn-sm btn-primary' if can? :create, Movie %>
<%= link_to 'new trailer', new_trailer_path, class:'btn btn-sm btn-default' if can? :create, Trailer %>
<%= link_to 'cancel', :back, class:'btn btn-sm btn-default' %>
