<p id="notice"><%= notice %></p>

<div class="row">

	<h3 class="text-center"><%= @movie.title %></h3>
	<h5 class="text-center text-muted"><%= @movie.year %> <%= show_mpaa(@movie) %></h3>
		
	<div class="row text-center">
		<%= image_tag @movie.poster.url(:medium) %>
	</div>
	
</div>

<div class="row">
	<div class="col-md-3 col-xs-3">
		first column
	</div>
	<div class="col-md-3 col-xs-3">
		second column
	</div>
	<div class="col-md-3 col-xs-3">
		third column
	</div>
	<div class="col-md-3 col-xs-3">
		fourth column
	</div>
</div>

<div class="row">
	<div class="col-xs-5 col-xs-offset-1">	
	<h5>trailers</h5>
	<% @movie.trailers.each do |trailer| %>
		<div>
			<iframe width="210" height="162" src="http://www.youtube.com/embed/<%= trailer.address.split('=').last %>" frameborder="0" allowfullscreen></iframe>
		</div>
	<% end %>
	</div>
	<div class="col-xs-5">
	<h5>actors</h5>
	<table>
	<% @movie.roles.each do |role| %>
		<tr>
			<td><%= role.actor.first %> <%= role.actor.last %></td>
			<td><%= role.part %></td>
		</tr>
	<% end %>
	</table>
	</div>
</div>

<div class="row">
	<div>Average Rating: <%= @movie.ratings.average(:score) %></div>
	<div>My Rating: <%= show_current_user_rating(@movie) %></div>
</div>

<div class="row text-center">
	<% if can? :update, @movie %>
		<%= link_to 'edit', edit_movie_path(@movie), class:'btn btn-primary' %>
		<%= link_to 'rate', new_rating_path(movie_id:@movie.id), class:'btn btn-default' %>
	<% end %>
	<%= link_to 'back', :back, class:'btn btn-default' %>
	<% if can? :create, Role %>
		<%= link_to 'add role', new_movie_role_path(@movie), class:'btn btn-success' %>
	<% end %>
</div>
