<div class="row col-md-10 col-md-offset-1">
	
	<h1><%= controller.action_name %> rating</h1>
	
	<%= simple_form_for(@rating, html:{class:'form-horizontal'}, wrapper: :horizontal_form) do |f| %>
	
		<%= f.error_notification %>
		
		<%= f.hidden_field :user_id %>
		<%= f.hidden_field :rateable_id %>
		<%= f.hidden_field :rateable_type %>
		
		<%= f.input :score %>
		
		<div class="row text-center">
			<%= f.submit nil, class:'btn btn-primary' %>
			<%= link_to 'back', :back, class:'btn btn-default' %>
		</div>
	
	<% end %>
	
</div>
