<%= form_for @trailer do |f| %>

	<fieldset>
		
		<legend>
			<%= controller.action_name %> trailer
		</legend>
		
		<%= render 'shared/errors.html.erb', :object=>f.object %>
		
		<div>
			<%= f.label :address %> <%= f.url_field :address %>
		</div>
		
		<div>
			<%= f.label :movie_id, 'movie' %>
			<%= f.select :movie_id,
				options_from_collection_for_select(Movie.all, :id, :title) %>
		</div>
		
		<div class="actions">
			<%= f.submit %>
		</div>
		
	</fieldset>
	
<% end %>
