<div class="row col-md-10 col-md-offset-1">
	
	<h1><%= controller.action_name %> role</h1>

	<%= simple_form_for([@movie,@role], html:{class:'form-horizontal'}, wrapper: :horizontal_form) do |f| %>
	
		<%= f.error_notification %>
		<%= f.hidden_field :movie_id %>
		<%= f.input :part, hint:'optional' %>
		<%= f.association :actor, collection:Actor.all, label_method: :fullname %>
		
		<div class="row text-center">
			<%= f.submit nil, class:'btn btn-primary'%>
			<%= link_to 'cancel', :back, class:'btn btn-default' %>
		</div>

	<% end %>

</div>