<!DOCTYPE html>
<html>
<head>
  <title>Movielines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<header>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
						<p class="nav navbar-text">welcome, <%= current_user.first %> <%= show_role(current_user) %></p>
					<% end %>
					<li><%= link_to 'actors', actors_path %>
					<li><%= link_to 'movies', movies_path %></li>
					<% if user_signed_in? %>
						<li><%= link_to 'sign out', destroy_user_session_path, :method=>:delete %></li>
					<% else %>
						<li><%= link_to 'sign in', new_user_session_path %></li>
					<% end %>
				</ul>
			</div>
		</nav>
	</header>

	<div class="container-fluid">
		<div class="row text-center">
			<% flash.each do |name, msg| %>
				<div class="alert alert-<%=name=='notice'?'info':name%>">
					<%= msg %>
				</div>
			<% end %>
		</div>
		<%= yield %>
	</div>

</body>
</html>
